{% extends "base.html" %}
{% block content %} 

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
      </div>
    </div>
    <div class="parallax"><img src="../static/assets/test6.jpg" alt="Unsplashed background img 2"></div>
  </div>

  <section>
    <div class="row">
        <div class="center"> 
            <h2 class="brown-text">About Dr Pamela Hamilton </h2> 
        </div>
    <div class="row  teal lighten-5">
        <div class="col s12 m6">
            <div class="center">
                <img class="responsive-img" src="../static/assets/profile.png">
            </div>
        </div>
        <div class="col s12 m6">
            <div class="center ">
                <h3 class="raleway-font">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque id nunc
                    nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut
                    ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem
                    neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam,
                    eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed
                    ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum
                    ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; </h3>
            </div>
        </div>
    </div>
  </section>





{% endblock  %} 