<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Pamela's Website</title>

    
    <script src="https://kit.fontawesome.com/e893473805.js" crossorigin="anonymous"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" type="text/css">
    <link href="{{url_for('static', filename='css/style.css')}}" type="text/css" rel="stylesheet" media="screen,projection" />
    
</head>
<body>
    <header>
        <nav>
            <div class="nav-wrapper teal lighten-1 white-text">
                <a href="{{ url_for('home')}}" class="brand-logo teal lighten-1 white-text">Logo</a>
                <a href="{{ url_for('home')}}" data-target="mobile-demo" class="sidenav-trigger"><i class="fa-solid fa-bars"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home')}}" class="white-text">Home</a></li>
                    <li><a href="{{ url_for('about')}}" class="white-text">About</a></li>
                    <li><a href="{{ url_for('contact')}}" class="white-text">Contact</a></li>                    
                </ul>
            </div>
        </nav>
        
        <ul class="sidenav" id="mobile-demo">
            <li><a href="{{ url_for('home')}}" class="black-text">Home</a></li>
            <li><a href="{{ url_for('about')}}" class="black-text">About</a></li>
            <li><a href="{{ url_for('contact')}}" class="black-text">Contact</a></li>  
        </ul>
    </header>


    <section>
        <!--flash messages-->
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        {% for message in messages %}
        <div class="row flashes">
            <h4 class="pink lighten-4 center-align">{{message}}</h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>
    <main>
        {% block content %}
        {% endblock %}
    </main>



<footer class="page-footer teal">
    <div class="">
        <div class="row">
            <div class="col l6 s12 spacing">
                    <h5 class="center white-text">Company Name</h5>
                    <p class="grey-text text-lighten-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque
                        id nunc
                        nec volutpat. Etiam pellentesque tristique arcu, non consequat magna fermentum ac. Cras ut
                        ultricies eros. Maecenas eros justo, ullamcorper a sapien id, viverra ultrices eros. Morbi sem
                        neque, posuere et pretium eget, bibendum sollicitudin lacus. Aliquam eleifend sollicitudin diam,
                        eu mattis nisl maximus sed. Nulla imperdiet semper molestie. Morbi massa odio, condimentum sed
                        ipsum ac, gravida ultrices erat. Nullam eget dignissim mauris, non tristique erat. Vestibulum
                        ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                
            </div>
            
            <div class="col l6 s12 spacing">
                <h5 class="center white-text">Connect With Me</h5>   
                    <div class="socials">
                        <a href="https://www.facebook.com/" target="blank">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://www.instagram.com/" target="blank">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://www.twitter.com/" target="blank">
                            <i class="fa-brands fa-x-twitter"></i>
                        </a>
                    </div>
            </div>         
        </div>           
    </div>
        
    <div class="footer-copyright"></div>
</footer>
    
    
      <!--  Scripts-->
      <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
      <script type="text/javascript" src="https://assets.calendly.com/assets/external/widget.js" async></script>
      <script src="{{url_for('static', filename='js/init.js')}}"></script>
      
    
      </body>
    </html>