{% extends "base.html" %}
{% block content %}

<section>
    <div class="center brown-text">
        <h2>Contact form</h2>        
    </div>
</section>

<section>
    <div class="center-form">
        <div class="row card-panel grey lighten-5">
            <form id="form">
                <div class="field">
                  <label for="first_name">first name</label>
                  <input type="text" name="first_name" id="first_name">
                </div>
                <div class="field">
                  <label for="last_name">last name</label>
                  <input type="text" name="last_name" id="last_name">
                </div>
                <div class="field">
                  <label for="email">email</label>
                  <input type="text" name="email" id="email">
                </div>
                <div class="field">
                    <label for="phone">phone</label>
                    <input type="text" name="phone" id="phone">
                  </div>
                <p> How can we help? </p>  
                <div class="field">
                  <label for="textarea1">Type your message here:</label>
                  <input type="text" name="textarea1" id="textarea1">
                </div>
              
                <input type="submit" id="button" value="Send Email" onclick="window.location.href = 'https://html001-pamela-5d8544e7cdc7.herokuapp.com';">
              </form>              
        </div>
    </div>
</section>

  <script type="text/javascript"
    src="https://cdn.jsdelivr.net/npm/@emailjs/browser@4/dist/email.min.js"></script>
  
  <script type="text/javascript">
    emailjs.init('0ySi0xkP0jrIslYcD')
  </script>


{% endblock %}