{% extends "base.html" %}
{% block content %}


<!--header-->

<div class="parallax-container valign-wrapper">
    <div class="section no-pad-bot">
      <div class="container">
      </div>
    </div>
    <div class="parallax"><img src="../static/assets/test5.jpg" alt="Unsplashed background img 2"></div>
  </div>


<section>
    <div class="row">
        <div class="center brown-text"> 
            <h2>Contact Us </h2> 
        </div>
        <div class="col s12 m6 raleway-font">
            <h3>Use this form to request further information</h3>
            <a href="{{ url_for('contactform')}}" id="download-button" class=" btn-large waves-effect waves-light teal lighten-1">Request Information</a>
        </div>

        <div class="col s12 m6 raleway-font">
            <h3>Ready to start the journey? Click here to book a discovery call</h3>
            <a href="{{ url_for('booking')}}" id="download-button" class=" btn-large waves-effect waves-light teal lighten-1">Book a call</a>
        </div>
    </div>
    
</section>




  {% endblock %}